<?xml version="1.0"?>
<ruleset name="MultisiteGlobalMedia">

	<config name="installed_paths" value="../../wp-coding-standards/wpcs,../../phpcompatibility/php-compatibility" />
	<config name="testVersion" value="7.0-"/>

	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName" />
	</rule>

	<rule ref="WordPress-Docs" />

	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="4.9" />
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="additionalWordDelimiters" value="."/>
		</properties>
	</rule>

</ruleset>
